# Supabase Configuration
VITE_SUPABASE_URL=https://silekfssubwfhsxakobw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNpbGVrZnNzdWJ3ZmhzeGFrb2J3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1MTc1NTksImV4cCI6MjA5MDA5MzU1OX0.8DPFGdngCPYAp5lCdv-kUOxjkLvti2QKmRrwikmeWz0
